a {
    color: black;
    font-size: small;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: arial, sans-serif;
}

header {
    text-align: right;
}

td {
    padding-right: 20px;
    text-align: left;
}

.adv-button {
    background-color: royalblue;
    border-radius: 5px;
    border: 1px solid blue;
    color: white;
    font-size: small;
    font-weight: bold;
    margin: 10px;
    padding: 8px 15px;
}

.adv-button:hover {
    background-color: mediumblue;
}

.button {
    border-radius: 5px;
    border-style: none;
    margin: 20px 10px;
    padding: 8px 12px;
}

.button:hover {
    box-shadow: 0 0 1px black;
    filter: drop-shadow(1px 1px 1px lightgray);
}

.adv-container {
    margin: 50px 0 0 50px;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;
}

.search {
    text-align: center;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.adv-search-bar {
    border: 1px inset black;
    display: block;
    margin: 5px auto;
    height: 30px;
    width: 400px;
}

.search-bar {
    border-radius: 40px;
    border: 1px solid lightgray;
    display: block;
    margin: auto;
    height: 40px;
    width: 500px;

    padding: 0 30px;
}

.search-bar:focus {
    filter: drop-shadow(0 0 2px lightgray);
    outline: 0;
}

.search-bar:hover {
    filter: drop-shadow(0 0 2px lightgray);
}